.header-no-nav-header {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: absolute;
  align-items: center;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  background-color: var(--dl-color-scheme-white);
}
.header-no-nav-max-width {
  top: 0;
  width: 100%;
  height: 135px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: 5px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  justify-content: flex-start;
}
.header-no-nav-image {
  width: 200px;
  height: auto;
  margin-left: var(--dl-space-space-threeunits);
}
.header-no-nav-root-class-name {
  margin-top: 0px;
  margin-bottom: var(--dl-space-space-threeunits);
}
@media(max-width: 767px) {
  .header-no-nav-max-width {
    padding: var(--dl-space-space-unit);
  }
}

.app-component-container {
  display: flex;
  position: relative;
}
.app-component-text {
  align-self: center;
}

.footer-footer {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: var(--dl-color-scheme-black);
}
.footer-max-width {
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.footer-copyright {
  width: 100%;
  height: 119px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
}
.footer-text {
  color: var(--dl-color-scheme-white80);
  font-size: 14px;
  margin-left: var(--dl-space-space-oneandhalfunits);
  text-transform: none;
}
.footer-link {
  text-decoration: underline;
}



.pardot-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.pardot-body {
  width: 100%;
  height: 921px;
  z-index: 1;
  position: relative;
}
.pardot-container1 {
  top: 30%;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 60%;
  height: 50%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: var(--dl-color-scheme-white);
  border-style: hidden;
  border-width: 0px;
  justify-content: center;
}
